h2{
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  animation: todo 1s infinite;
}
.num{
  text-align: center; 
  margin-top: 0px;
}
.inst{
  margin-top: 10px;
}
.time{
  float: right;
  font-size: 14px;
}
.text{
  padding-right: 5px;
  padding-top: 10px;
}
.bar{
  animation: fromtop 5s;
}
.data{
  animation:comeup 1s;
}
.options{
  margin-top:34px;
}
@keyframes todo{
  0%{color: red;}
  20%{color: blue;}
  50%{color: green;}
  80%{color: greenyellow;}
  100%{color: gray}
}
@keyframes comeup{
  from{transform: scale(0)}
  to{transform: scale(1)}
}
@keyframes closeit{
  from{transform: scale(1)}
  to{transform: scale(0)}
}
